.container {
    text-align: center;
    margin-top: 50px;
}

input[type="number"] {
    padding: 8px 0; /* 上下の余白のみ */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%; /* 横幅を2倍にして */
    max-width: 5em; /* 最大幅を5桁に制限 */
    text-align: center; /* テキストを中央寄せ */
    margin: 0; /* テキストボックスの外側の余白を0に設定 */
}



button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    font-size: 18px;
    margin-top: 20px;
}
